<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Month 1</ion-card-subtitle>
    <ion-card-title>2x per week</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-list-header>
        <ion-label>Chest and Back</ion-label>
      </ion-list-header>

      <ion-item button>
        <ion-label>
          <h2>Bench Press</h2>
          <p>3 sets · 8-10 reps</p>
        </ion-label>
      </ion-item>

      <ion-item button>
        <ion-label>
          <h2>Bent-over Rows</h2>
          <p>3 sets · 8-10 reps</p>
        </ion-label>
      </ion-item>

      <ion-item button>
        <ion-label>
          <h2>Incline Dumbbell Press</h2>
          <p>3 sets · 8-10 reps</p>
        </ion-label>
      </ion-item>

      <ion-item button>
        <ion-label>
          <h2>Lat Pulldown</h2>
          <p>3 sets · 8-10 reps</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <ion-label>Biceps and Triceps</ion-label>
      </ion-list-header>

      <ion-item button>
        <ion-label>
          <h2>Bicep Curls</h2>
          <p>3 sets · 10-12 reps</p>
        </ion-label>
      </ion-item>

      <ion-item button>
        <ion-label>
          <h2>Tricep Dips</h2>
          <p>3 sets · 8-10 reps</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>