
<app-header (backBtnClick)="backBtnClick()" title="Workout Plan" subTitle="" ></app-header>
  <div class="workout-container">
    <div class="workout-header">
      <h2>Month 1</h2>
      <span class="frequency">2x per week</span>
    </div>

    <div class="section">
      <div class="section-header">Chest and Back</div>
      <div class="workout-item" *ngFor="let exercise of chestBackExercises">
        <div class="display:flex;flex-direction:coloumn">
          <h2>{{exercise.name}}</h2>
          <p>{{exercise.sets}} sets · {{exercise.reps}} reps</p>
        </div>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div class="section">
      <div class="section-header">Biceps and Triceps</div>
      <div class="workout-item" *ngFor="let exercise of bicepsTricepsExercises">
        <div class="display:flex;flex-direction:coloumn">
          <h2>{{exercise.name}}</h2>
          <p>{{exercise.sets}} sets · {{exercise.reps}} reps</p>
        </div>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
