ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ion-text p {
  text-align: center;
  margin-bottom: 24px;
  color: var(--ion-text-color);
}

ion-button {
  margin-bottom: 16px;
  --border-radius: 8px;
}

ion-footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

// .selectedPlan {
//   background-color: skyblue;
// }
.plan-label-grid{
  border: 1px solid #c3c3c3;
  padding: 20px 10px 20px 10px;
  border-radius: 8px;
  margin: 0px 10px;
  display: flex;
  align-items: center;

}
.plan-lable-heading{
  font-size: 20px;
  font-weight: bolder;
}
