

  <form [formGroup]="workoutForm">
  <ion-grid>

    <ion-row *ngFor="let plan of planList" (click)="workoutForm?.get('selectedPlan')?.setValue(plan.value)">
      <ion-col size="12" [ngClass]="plan.value===workoutForm?.get('selectedPlan')?.value ? 'selectedPlan': '' ">
        <!-- <ion-button expand="block" >
          <ion-icon slot="start" [name]="plan.iconname"></ion-icon>
          {{plan.label}}
        </ion-button> -->

        <ion-row class="plan-label-grid">
          <ion-col size="2">
            <ion-icon name="{{plan.iconname}}" style="font-size: 30px;"></ion-icon>
          </ion-col>
          <ion-col size="8">
<ion-row class="plan-lable-heading">
  {{plan.label}}
</ion-row>
<ion-row>
  {{plan.sublabel}}
</ion-row>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="chevron-forward-outline" style="font-size: 30px;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</form>

